*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.header-container{
    display: flex;
    width: 100%;
    /* height: auto; */
     background: rgba(229, 84, 115, 0.10);
     justify-content: space-between;
     align-items: center;

}
.header-heading{
color: #272727;
font-size: 80px;
font-weight: 700;
margin: 100px ;
}

.header-para{
width: 40%;
color: rgba(39, 39, 39, 0.60);
font-size: 15px;
line-height: 20px;
margin-left: 100px;
}

.btn{
padding: 20px 43px;
text-align: center;
gap: 10px;
border-radius: 10px;
background: #E55473;
border: none;
margin-left: 100px;
margin-top: 15px;
color: white;
}
.header-img{
    margin: 50px 200px 0px 90px;
}

/* featured flowers styles section */

.feature-flower-heading{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-top: 150px;
}
.feature-flower-para{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
margin-bottom: 20px;
}

.feature-flower-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.pink-flower{
color: #272727;
text-align: center;
font-size: 20px;
font-weight: 700;
text-decoration-line: underline;
margin-top: 40px;

}
.blue-flower{
color: #272727;
text-align: center;
font-size: 20px;
font-weight: 700;
text-decoration-line: underline;
margin-top: 145px;
}
.yellow-flower{
color: #272727;
text-align: center;
font-size: 20px;
font-weight: 700;
text-decoration-line: underline;
margin-top: 50px;
}

.flower-tree-pink{
 width: 450px;
height: 470px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.flower-tree-blue{
 width: 450px;
height: 470px;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.flower-tree-yellow{
 width: 450px;
height: 470px;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}

.flowers-img-pink{
    width: 70%;
    margin-top: 35px;
    margin-left: 75px;
}
.flowers-img-blue{
    width: 70%;
    margin-top: 50px;
    margin-left: 75px;
}
.flowers-img-yellow{
    width: 70%;
    margin-top: -1px;
    margin-left: 80px;
}

/* deal style */
.deal-container{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}

.deal-header{
color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 10px;
}
span{
   color:  #E55473;
}
.deal-para{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.btn-2{
    padding: 20px 43px;
    text-align: center;
    gap: 10px;
    border-radius: 10px;
    background: #E55473;
    border: none;
    margin-left: 200px;
    margin-top: 30px;
    color: white;
}

.deal-img{
    margin: 50px 0px;
}

/* insta style */

.insta-heading{
 margin-top: 100px;
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}

.insta-para{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.insta-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

/* latest deal style */
.latest-deal-container{
width: 80%;
height: 500px;
margin-top: 150px;
margin-left: 200px;
position: absolute;
background: url("./Rectangle\ 9.png");
background-repeat: no-repeat;
background-size: cover;
}
.latest-deal-input-section{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    position: relative;
}

.latest-deal-heading{
 color: #272727;
text-align: center;
font-size: 30px;
font-weight: 800;
}
.latest-deal-para{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 20px;
}
.input>input{
width: 700px;
height: 30px;
text-align: left;
padding: 15px 43px;
border:none;
border-radius: 10px;
}

.btn-3{
padding: 22px 43px;
text-align: center;
gap: 10px;
border-radius: 10px;
background: #E55473;
border: none;
color: white;
}

.latest-deal-content{
    margin-top: 200px;
}

/* customer review */
.review{
    margin-top: 800px;
    text-align: center;
    font-weight: 800;
}

.cust-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 100px;
    box-shadow: 5px 5px 15px 5px rgb(109, 159, 252);
}
.customer-container{
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
    background: rgba(167, 33, 98, 0.15);

}

.cust-heading{
padding: 10px;
color: #272727;
text-align: center;
font-size: 30px;
font-weight: 800;
}
.cust-para{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
}

/* footer */
footer{
    text-align: center;
    background: #111010;
    color: white;
    height: 300px;
    padding-top: 100px;
}
.footer-head{
font-size: 48px;
font-weight: 800;
margin-bottom: 10px;
}
.footer-span{
    color: #E55473;
}

.footer-para{
color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.copyright{
    margin-top: 35px;
}